<p style="color: green"><%= notice %></p>

<%= render @user_journal %>

<div>
  <%= link_to "Edit this user journal", edit_user_journal_path(@user_journal) %> |
  <%= link_to "Back to user journals", user_journals_path %>

  <%= button_to "Destroy this user journal", @user_journal, method: :delete %>
</div>
