
<% @visitors = @visitors.reverse %>

<%= render(LesliView::Layout::Container.new("audit-analytics")) do %>
    <%= render(LesliView::Components::Header.new("Analytics")) %>

    <%= render(LesliView::Charts::Line.new(
        title:"Visitors",
        labels: @visitors.map { |visitor|  visitor["date"] },
        serie: @visitors.map { |visitor|  visitor["requests"] }
    ))%>

    <div class="columns">
            <div class="column">
            <%= render(LesliView::Elements::Table.new(
                columns: [{
                    label: "User",
                    field: "email"
                },{
                    label:"Resources",
                    field:"resources"
                },{
                    label:"Requests",
                    field:"requests"
                }],
                records: @users
            )) %>
        </div>
        <div class="column">
            <%= render(LesliView::Elements::Table.new(
                columns: [{
                    label: "Controller",
                    field: "request_controller"
                },{
                    label:"Requests",
                    field:"requests"
                }],
                records: @controllers
            )) %>
        </div>
    </div>
<% end %>
