
<% @visitors = @visitors.reverse %>

<%= render(LesliView::Layout::Container.new("audit-analytics")) do %>
    <%= render(LesliView::Components::Header.new("Analytics")) %>

    <%= render(LesliView::Charts::Line.new(
        title:"Visitors",
        labels: @visitors.map { |visitor|  visitor["date"] },
        serie: @visitors.map { |visitor|  visitor["requests"] }
    ))%>
    <br>
    <div class="columns">
        <div class="column">
            <%= render(LesliView::Elements::Table.new(
                columns: [{
                    label: "Controller",
                    field: "request_controller"
                },{
                    label:"Requests",
                    field:"requests"
                }],
                records: @requests
            )) %>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <%= render(LesliView::Charts::Bar.new(
                title: "Platforms",
                labels: @platforms[:labels],
                series: @platforms[:series]
            ))%>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <%= render(LesliView::Charts::Bar.new(
                title: "Browsers",
                labels: @browsers[:labels],
                series: @browsers[:series]
            ))%>
        </div>
    </div>
<% end %>
